{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% block head_title %}{% trans "Salaries" %}{% endblock %}{% endblock title %}
{% block content %}
  <div class="container col-sm-12 col-md-12">
    <div><h2 class="text-center">{% trans "Salaries" %}</h2></div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="login" method="GET" action="{% url 'salaries:salaries_list' %}">
          {% csrf_token %}
          <div id="div_employee_id" class="form-group">
            <label for="id_employee">Employee ID:</label>
            <div class=""><input type="number" name="employee" placeholder="Type employee id" class="textinput textInput form-control" id="id_employee"></div>
            <div><input type="text" name="employee_show" value="yes" id="employee_show" hidden></div>
          </div>
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Filter" %}</button>
        </form>
      </div>
    </div>
    <br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CONTRACT TYPE</th>
        <th>ROLE</th>
        <th>HOURLY SALARY</th>
        <th>MONTHLY SALARY</th>
        <th>CALCULATED SALARY</th>
      </tr>
      </thead>
      <tbody>
      {% if salaries %} {% for salary in salaries %}
        <tr>
          <td>{{ salary.id }}</td>
          <td>{{ salary.name }}</td>
          <td>{{ salary.contractTypeName }}</td>
          <td>{{ salary.roleName }}</td>
          <td>{{ salary.hourlySalary }}</td>
          <td>{{ salary.monthlySalary }}</td>
          <td>{{ salary.annual_salary }}</td>
        </tr>
      {% endfor %} {% else %}
        <tr>
          <td colspan="7">
            <h4 class="text-center">No hay registros</h4>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
