{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% block head_title %}{% trans "Salaries" %}{% endblock %}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2 class="home-centered">{% trans "Welcome" %}</h2>
      <h3 class="home-centered">{% trans "Please login to view employees salaries" %}</h3>
    </div>
  </div>
{% endblock %}




